:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

body {
  margin: none;
  background: linear-gradient(45deg, rgb(32, 32, 247), rgb(176, 166, 244));
}
h1 {
  font-size: 2rem;
}

.updatedEducation {
  margin: 2rem;
  color: black;
  background-color: rgb(244, 243, 241);
  max-width: fit-content;
  min-width: 320px;
  border-radius: 9px;
  padding: 12px;
  font-weight: bold;
  size: 3rem;
}

form {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  min-width: 320px;
}
